@import url("../../styles/variables.css");

/* kanban column css starts here */
.kanban-container {
  height: 100vh;
  overflow-x: auto;
  display: flex;
  align-items: center;
  padding: 16px;
}

/* Kanban columns style */
.kanban-columns {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 14px;
  height: 100%;
  overflow-x: auto;
}

/* Hide scrollbar for aesthetics */
.kanban-container::-webkit-scrollbar {
  display: none;
}

/* Column styling */
.column {
  padding: 8px 14px;
  min-width: 300px;
  box-sizing: border-box;
  height: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top-left .box {
  display: flex;
  justify-content: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.top-left .priority-box .title,
.top-left .user-box .title,
.top-left .status-box .title {
  margin-left: 10px;
}

.top-left .count {
  color: var(--dark-gray);
  margin-left: 8px;
}

.top .top-right {
  display: flex;
  gap: 10px;
  justify-content: row;
  align-items: center;
  justify-content: center;
}

/* kanban card css starts here  */

.kanban-card {
  padding: 5px 15px 10px 15px;
  margin: 15px 0px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.kanban-card .ids {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-gray);
  font-size: 10px;
}
.kanban-card .header {
  display: flex;
  align-items: start;
  color: var(--black);
  font-size: 12px;
  font-weight: 500;
  gap: 8px;
  margin-bottom: 8px;
}

.kanban-card .title {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.kanban-card .desc {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--dark-gray);
}

.kanban-card .desc .priority {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: 1px solid var(--light-gray);
  border-radius: 3px;
}

.kanban-card .dot {
  width: 10px;
  height: 10px;
  background-color: var(--dark-gray);
  margin-right: 5px;
  border-radius: 50%;
}

.kanban-card .desc .tag {
  display: flex;
  align-items: center;
  font-size: 12px;
  border: 1px solid var(--light-gray);
  padding: 3px 5px;
  border-radius: 3px;
}

.d-none {
  display: none;
}
