@import url("../../styles/variables.css");

/* Basic styling for the priority icons */
.top .icon,
.desc .icon {
  display: flex;
  justify-content: center;
  gap: 2px;
  width: 15px;
  height: 15px;
  margin: 0;
}

/* Profile image container */
.profile {
  position: relative;
}

/* Profile image */
.user-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
}

/* User badge */
.user-badge {
  position: absolute;
  bottom: 1px;
  right: 1px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px white;
}

/* Available (green) */
.available {
  background-color: #28a745; /* Green color */
}

/* Unavailable (gray) */
.unavailable {
  background-color: #6c757d; /* Gray color */
}

/* Base styling for the top class */
.top-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
