body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background-color: #f4f6fa;
  margin: 0;
  padding: 0;
}

.ins {
  border: 2px solid red;
}



